/* Home page */
.Hero{
  background-image: url("https://images.unsplash.com/photo-1599901860904-17e6ed7083a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  width: 100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media only screen and (max-width: 640px){
  .Hero{
    height: 100vh;
  }
  .Hero > h1{
    margin:0px;
    color:white;
    font-size:40px;
    font-weight: 400;
    width:100%;
    padding:60px 0px 20px 20px;
    letter-spacing: 1.2px;
  }
  .Hero > a{
    color:white;
    font-size: 18px;
    font-weight: 600;
    padding:20px 0px 0px 20px;
    letter-spacing: 1px;
  }
  .Group-classes-container > img{
    width: 100vw;
    height: 50vh;
  }
  .Group-classes-container{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
  }
  .Group-classes-container > .Grey-button{
    margin-left:20px;
  }
  .Newsletter-container{
    height:90vh !important;
  }
  .Zoe-portrait{
    width: 90%;
    padding: 20px;
    height: 100vh;
  }
  .About-me-text{
    justify-content: center;
    padding:30px;
  }
  .Class-offerings{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .Offerings-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Contact-container{
    padding:20px
  }
}
@media only screen and (min-width: 640px){
  .Hero{
    height: calc(100vh - 90px);
  }
  .Hero > h1{
    margin:0px;
    color:white;
    font-size:55px;
    font-weight: 400;
    width:60%;
    padding:60px 0px 20px 30px;
    letter-spacing: 1.2px;
  }
  .Hero > a{
    color:white;
    font-size: 18px;
    font-weight: 600;
    padding:20px 0px 0px 30px;
    letter-spacing: 1px;
  }
  .Group-classes-container > img{
    width: 100vw;
    height: calc(100vh - 145px);
  }
  .Zoe-portrait{
    width: 40%;
    padding: 60px;
    height: 100vh;
  }
  .About-me-text{
    justify-content: center;
    padding-right:60px;
  }
  .Class-offerings{
    display: flex;
    justify-content: space-between;
  }
  .Offerings-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
  }
}
.Group-classes-container{
  height:100vh;
  width:100vw;
  background-color: rgb(73 73 73);
}

.Group-classes-container > h1{
  padding: 20px;
  color:white;
}


.Newsletter-container{
  height:70vh;
  width:100vw;
  background-image: url("https://images.unsplash.com/photo-1588286840104-8957b019727f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  justify-content: center;
  align-items:center;
}

.Newsletter-container > h1, .Newsletter-container > h3{
  color:white;
}

/* About */
.About-me-title{
  font-size: 50px;
  font-weight: 400;
}

.About-me-container{
  height: 20vh;
  background: rgb(89, 89, 89);
  display: flex;
  align-items: flex-end;
  color: white;
  padding: 30px;
}


.Light-background{
  background: whitesmoke;
}

/* Philosophy */
.Philosophy-text > h3, .Philosophy-text > p{
  padding-bottom:20px;
}

/* Classes */

.Classes-image{
  width: 50%;
  padding: 30px;
  height:60%;
}

.Classes-text{
  padding-left:50px;
  justify-content: center;
}

.Book-a-class-section{
  height:45vh;
  width:100vw;
  background-color: lightgrey;
  justify-content: space-evenly;
  align-items:center;
}
.Book-a-class-section > a{
  text-decoration: none;
}

.Height-40{
  height:40vw;
}

/* Offerings */
.Class-offering{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:40px;
}
.Class-offering > img{
  border-radius:4px;
  height: 220px;
  width: 270px;
}

/* Contact */
.Contact-form{
  width:50%;
}

label{
  font-family: 'Rubik', sans-serif;
  margin-top:20px;
  margin-bottom:5px;
}

.Sm-label{
  font-size:12px;
  margin-top:5px;
}

input{
  height: 30px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  border: solid 0.5px gray;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: rgb(237, 237, 237);
}

textarea{
  height: 100px;
  font-family: 'Rubik', sans-serif;
  font-size:16px;
  border:solid 0.5px gray;
  border-radius:4px;
  padding:10px;
  background-color: rgb(237, 237, 237);
}

input[type="submit"]{
  margin-top: 20px;
  border-radius: 4px;
  background-color: grey;
  color: white;
  width: 150px;
  height: 60px;
}

.ml-10{
  margin-left:10px;
}
