/* Home page */
.Hero{
  background-image: url("../images/zoe-hero.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media only screen and (max-width: 640px){
  .Hero{
    height: 100vh;
    width:90vw;
  }
  .Hero > h1{
    margin:0px;
    color:white;
    font-size:40px;
    font-weight: 400;
    width:100%;
    padding:60px 0px 20px 20px;
    letter-spacing: 1.2px;
  }
  .Hero > a{
    color:white;
    font-size: 18px;
    font-weight: 600;
    padding:20px 0px 0px 20px;
    letter-spacing: 1px;
  }
  .Group-classes-container > img{
    height: 35vh;
    width: 90vw;
    align-self: center;
  }
  .Group-classes-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    height: 70vh;

  }
  .Group-classes-container > .Grey-button{
    margin-left:20px;
    margin-top:20px;
    width:100px;
  }
  .Newsletter-container{
    height:90vh !important;
  }
  .Zoe-portrait{
    width: 90%;
    padding: 20px;
    height: 85vh;
  }
  .About-me-text{
    justify-content: center;
    padding:0px 22px ;
  }
  .Class-offerings{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .Offerings-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Contact-container{
    padding:20px
  }
  .Classes-section{
    align-items:center;
  }
  .Classes-text{
    padding: 20px;
    justify-content: center;
  }
  .Classes-image{
    width: 90%;
    padding: 30px;
    height:60%;
  }
  .About-me-title{
    font-size: 40px;
    font-weight: 400;
  }
  .Contact-form{
    width:100%;
  }
  .Group-classes-container > h1{
    padding: 20px;
    color:white;
  }
  .location-section{
    display:flex;
    flex-direction: column;
  }
  .Location-info{
    text-align:right;
    margin-right:10px;
    height:55vh;
    justify-content: center;
  }
}
@media only screen and (min-width: 640px){
  .Hero{
    height: calc(100vh - 90px);
    width: 100vw;
  }
  .Hero > h1{
    margin:0px;
    color:white;
    font-size:55px;
    font-weight: 400;
    width:60%;
    padding:60px 0px 20px 30px;
    letter-spacing: 1.2px;
  }
  .Hero > a{
    color:white;
    font-size: 18px;
    font-weight: 600;
    padding:20px 0px 0px 30px;
    letter-spacing: 1px;
  }
  .Group-classes-container > img{
    width: 95vw;
    height: 70vh;
    align-self:center;
  }
  .Group-classes-container > .Grey-button{
    margin-left:30px;
    margin-top:20px;
    width:120px;
  }
  .Zoe-portrait{
    width: 40%;
    margin: 60px;
    height: 100vh;
    border-radius: 50%;
    border: solid 1px;
  }
  .About-me-text{
    justify-content: center;
    padding-right:60px;
  }
  .Class-offerings{
    display: flex;
    justify-content: space-between;
  }
  .Offerings-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
  }
  .Classes-section{
    height: 80vh;
    align-items: center;
  }
  .Classes-text{
    padding-left:50px;
    justify-content: center;
  }
  .Classes-image{
    width: 50%;
    padding: 30px;
    height:60%;
  }
  .Group-classes-container{
    height:100vh;
    display: flex;
    flex-direction: column;
  }
  .About-me-title{
    font-size: 50px;
  }
  .Contact-form{
    width:50%;
  }
  .Contact-container{
    height:85vh;
  }
  .Group-classes-container > h1{
    padding: 50px 0px 15px 30px;
    color:white;
  }
  .location-section{
    display:flex;
    justify-content: flex-end;
  }

  .Location-info{
    text-align:right;
    margin-right:10px;
  }
}
.Group-classes-container{
  width:100vw;
  background-color: rgb(73 73 73);
}



.Newsletter-container{
  height:70vh;
  width:100vw;
  background-image: url("https://images.unsplash.com/photo-1588286840104-8957b019727f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  justify-content: center;
  align-items:center;
}

.Newsletter-container > h1, .Newsletter-container > h3{
  color:white;
}

/* About */
.About-me-title{
  font-weight: 400;
}

.About-me-container{
  background-color:rgb(73 73 73);
  display: flex;
  align-items: flex-end;
  color: white;
  padding: 30px;
  height:12vh;
}


.Light-background{
  background: whitesmoke;
}

.Med-light-background{
  background: #e4e4e4;
}

/* Philosophy */
.Philosophy-text > h3, .Philosophy-text > p{
  padding-bottom:50px;
}

/* Classes */

.Book-a-class-section{
  height:45vh;
  width:100vw;
  background-color: lightgrey;
  justify-content: space-evenly;
  align-items:center;
}
.Book-a-class-section > a{
  text-decoration: none;
  padding: 15px 20px !important;
}

/* Offerings */
.Class-offering{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:40px;
}
.Class-offering > img{
  border-radius:4px;
  height: 220px;
  width: 270px;
}

/* Contact */

label{
  font-family: 'Rubik', sans-serif;
  margin-top:20px;
  margin-bottom:5px;
}

.Sm-label{
  font-size:12px;
  margin-top:5px;
}

input{
  height: 30px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  border: solid 0.5px gray;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: rgb(237, 237, 237);
}

textarea{
  height: 100px;
  font-family: 'Rubik', sans-serif;
  font-size:16px;
  border:solid 0.5px gray;
  border-radius:4px;
  padding:10px;
  background-color: rgb(237, 237, 237);
}

input[type="submit"]{
  margin-top: 20px;
  border-radius: 4px;
  background-color: grey;
  color: white;
  width: 150px;
  height: 60px;
}

input[id="lname"], input[id="fname"]{
  width: 90%;
}

.ml-10{
  margin-left:10px;
}
