.Flex{
  display:flex;
}

.Flex-column{
  display:flex;
  flex-direction: column;
}

.Row-reverse{
  flex-direction: row-reverse;
}

.Align-center{
  align-items: center;
}

.Justify-center{
  justify-content: center;
}

.Justify-between{
  justify-content: space-between;
}

.Height-100{
  height: 100vh;
}

.Flex-1{
  flex-grow:1;
}

.Grey-button{
  border-radius: 4px;
  background-color: grey;
  color: white !important;
  padding: 15px 20px;
}

a.Grey-button:hover{
  text-decoration:none !important;
}

h3, p, a{
  font-family: 'Poppins', sans-serif;
  margin:0;
}

h1{
  font-family: 'Rubik', sans-serif;
  margin:0;
}

#map {
  height: 100%;
}
